<form #meuForm="ngForm">
  <mat-form-field>
    <mat-label>Nome:</mat-label>
    <input
      type="text"
      name="nome"
      [(ngModel)]="nome"
      matInput
      #nomeControl="ngModel"
      required
    />
    <mat-hint>O Nome é necessário!</mat-hint>
    <mat-error>O Nome deve ser preenchido!</mat-error>
  </mat-form-field>

  <div>
    <br />
    <br />
    <p>Valid: {{ nomeControl.valid }}</p>
    <p>Touched: {{ nomeControl.touched }}</p>
    <p>Dirty: {{ nomeControl.dirty }}</p>
    <br />
    <br />
    <button type="button" [disabled]="meuForm.invalid" (click)="onClick()">
      Enviar
    </button>
  </div>
</form>

<!-- property binding
  [ngModel]="nome"
  (ngModelChange)="onChange($event)"
-->

<!-- Two way data binding
  [(ngModel)]="nome"
-->
